# QBIO 401: Introduction to Computational Analysis of Biological Data 

# Introduction to Python II
## 1. Data structures
### 1.1. Tuples
Tuples are ordered and immutable sequences that are written as comma-separated elements within parentheses.

In [61]:
# A tuple can include elements from different data types
Tuple1=("QBIO",401,3.14,True)
Tuple1

('QBIO', 401, 3.14, True)

Each element of a tuple can be accessed via an index, similar to a String

In [62]:
# Access the elements in a Tuple and print their data types
print("Tuple1[0]:",Tuple1[0])
print("type(Tuple1[0]):",type(Tuple1[0]))

print("Tuple1[1]:",Tuple1[1])
print("type(Tuple1[1]):",type(Tuple1[1]))

print("Tuple1[-1]:",Tuple1[-1])
print("type(Tuple1[-1]):",type(Tuple1[-1]))

print("Tuple1[-2]:",Tuple1[-2])
print("type(Tuple1[-2]):",type(Tuple1[-2]))

Tuple1[0]: QBIO
type(Tuple1[0]): <class 'str'>
Tuple1[1]: 401
type(Tuple1[1]): <class 'int'>
Tuple1[-1]: True
type(Tuple1[-1]): <class 'bool'>
Tuple1[-2]: 3.14
type(Tuple1[-2]): <class 'float'>

#### *Tuple operations*

In [63]:
Tuple2=("QBIO",401,"BISC",481)

# Combine Tuples
Tuple3=Tuple2+("CHEM",350)
Tuple3

('QBIO', 401, 'BISC', 481, 'CHEM', 350)

In [64]:
# Duplicate a Tuple
Tuple3*2

('QBIO', 401, 'BISC', 481, 'CHEM', 350, 'QBIO', 401, 'BISC', 481, 'CHEM', 350)

Tuples are immutable:

In [66]:
Tuple3[0]="BISC"

TypeError: 'tuple' object does not support item assignment

#### *Tuple nesting*

In [67]:
Tuple4=(1,("QBIO",401),2,("BISC",481))
print("Tuple4:",Tuple4)
print("Tuple4[1]:",Tuple4[1])
print("Tuple4[1][0]:",Tuple4[1][0])
print("Tuple4[1][0][0]:",Tuple4[1][0][0])

Tuple4: (1, ('QBIO', 401), 2, ('BISC', 481))
Tuple4[1]: ('QBIO', 401)
Tuple4[1][0]: QBIO
Tuple4[1][0][0]: Q

### 1.2. Lists

Lists are ordered and mutable sequences that are written as comma-separated elements within square brackets. Notice that the major difference between List and Tuple is the mutability: Lists are mutable, while Tuples are not.

In [68]:
List1=["QBIO",401,3.14,True]
List1

['QBIO', 401, 3.14, True]

Each element of a List can be accessed via an index, similar to a String

In [70]:
# Access the elements in a List and print their data types
print("List1[0]:",List1[0])
print("type(List1[0]):",type(List1[0]))

print("List1[1]:",List1[1])
print("type(List1[1]):",type(List1[1]))

print("List1[-1]:",List1[-1])
print("type(List1[-1]):",type(List1[-1]))

print("List1[-2]:",List1[-2])
print("type(List1[-2]):",type(List1[-2]))

List1[0]: QBIO
type(List1[0]): <class 'str'>
List1[1]: 401
type(List1[1]): <class 'int'>
List1[-1]: True
type(List1[-1]): <class 'bool'>
List1[-2]: 3.14
type(List1[-2]): <class 'float'>

#### *List operations*

In [71]:
List2=["QBIO",401,"BISC",481]

# Combine Lists
List3=List2+["CHEM",350]
List3

['QBIO', 401, 'BISC', 481, 'CHEM', 350]

In [72]:
# Duplicate a List
List3*2

['QBIO', 401, 'BISC', 481, 'CHEM', 350, 'QBIO', 401, 'BISC', 481, 'CHEM', 350]

Lists are imutable:

In [73]:
List2[2]="QBIO"
List2

['QBIO', 401, 'QBIO', 481]

List nesting

In [74]:
List4=[1,("QBIO",401),2,("BISC",481)]
print("List4:",List4)
print("List4[1]:",List4[1])
print("List4[1][0]:",List4[1][0])
print("List4[1][0][0]:",List4[1][0][0])

List4: [1, ('QBIO', 401), 2, ('BISC', 481)]
List4[1]: ('QBIO', 401)
List4[1][0]: QBIO
List4[1][0][0]: Q

#### *List methods*

In [81]:
List2=["QBIO",401,"BISC",481]

# Extend a List
List2.extend(["CHEM",350])
List2

['QBIO', 401, 'BISC', 481, 'CHEM', 350]

In [82]:
# Append an object into a List
List2.append(["QBIO",593])
List2

['QBIO', 401, 'BISC', 481, 'CHEM', 350, ['QBIO', 593]]

Use Python built-in function to remove an element from a List

In [83]:
List2=["QBIO",401,"BISC",481]
del(List2[1])
List2

['QBIO', 'BISC', 481]

One can convert a String to a List

In [85]:
# Split a String into a List
String1="QBIO 401 BISC 481"
List2=String1.split()
List2

['QBIO', '401', 'BISC', '481']

In [86]:
# Split a String into a List with a specific character
String1="QBIO,401,BISC,481"
List2=String1.split(",")
List2

['QBIO', '401', 'BISC', '481']

In [87]:
# Python built-in function
len(List2)

4

#### *Aliasing*

In [88]:
A=["QBIO",401]
B=A
print("A:",A)
print("B:",B)

B[0]="BISC"
print("A:",A)
print("B:",B)

A: ['QBIO', 401]
B: ['QBIO', 401]
A: ['BISC', 401]
B: ['BISC', 401]

To avoid this, one can copy a List as a new List object

In [89]:
A=["QBIO",401]
B=A[:] # Copy A as a new object
print("A:",A)
print("B:",B)

B[0]="BISC"
print("A:",A)
print("B:",B)

A=["Hox5"]
A.extend(["Hox9","Hox10","Hox11"])
print(A)

A: ['QBIO', 401]
B: ['QBIO', 401]
A: ['QBIO', 401]
B: ['BISC', 401]
['Hox5', 'Hox9', 'Hox10', 'Hox11']

### 1.3. Dictionaries

A Dictionary is a type of collection which has keys and values and is written as comma-separated elements within curly brackets.

In [90]:
Dic1={"12951R":"QBIO401","13481R":["QBIO",481]}
Dic1

{'12951R': 'QBIO401', '13481R': ['QBIO', 481]}

Access/add/delete elements in a Dictionary

In [91]:
Dic1={"12951R":"QBIO 401","12953R":"QBIO 430","13481R":"QBIO 481","12990D":"QBIO 490","13993D":"QBIO 493","12970D":"QBIO 590"}
print("Dic1:",Dic1)

# Access the value in Dictionary with a key
print("Dic1[\"12951R\"]:",Dic1["12951R"])
print("Dic1[\"12953R\"]:",Dic1["12953R"])
print("Dic1[\"13481R\"]:",Dic1["13481R"])

# Insert an element into a Dictionary
Dic1["17520R"]="CHEM 350"
print("Dic1:",Dic1)

# Delete an element from a Dictionary
del(Dic1["12970D"])
print("Dic1",Dic1)

# Check if an element is in a Dictionary
print("12951R" in Dic1)
print("12951D" in Dic1)
print("QBIO 401" in Dic1)

# Show all keys in a Dictionary
print("Dic1.keys():",Dic1.keys())

# Show all values in a Dictionary
print("Dic1.values():",Dic1.values())

Dic1: {'12951R': 'QBIO 401', '12953R': 'QBIO 430', '13481R': 'QBIO 481', '12990D': 'QBIO 490', '13993D': 'QBIO 493', '12970D': 'QBIO 590'}
Dic1["12951R"]: QBIO 401
Dic1["12953R"]: QBIO 430
Dic1["13481R"]: QBIO 481
Dic1: {'12951R': 'QBIO 401', '12953R': 'QBIO 430', '13481R': 'QBIO 481', '12990D': 'QBIO 490', '13993D': 'QBIO 493', '12970D': 'QBIO 590', '17520R': 'CHEM 350'}
Dic1 {'12951R': 'QBIO 401', '12953R': 'QBIO 430', '13481R': 'QBIO 481', '12990D': 'QBIO 490', '13993D': 'QBIO 493', '17520R': 'CHEM 350'}
True
False
False
Dic1.keys(): dict_keys(['12951R', '12953R', '13481R', '12990D', '13993D', '17520R'])
Dic1.values(): dict_values(['QBIO 401', 'QBIO 430', 'QBIO 481', 'QBIO 490', 'QBIO 493', 'CHEM 350'])

### 1.4. Sets

A Dictionary is a type of collection which has keys and values and is written as comma-separated elements within curly brackets.

In [92]:
Set1={"QBIO 401","QBIO 481","QBIO 493","QBIO 481"}
Set1

{'QBIO 401', 'QBIO 481', 'QBIO 493'}

Convert a List to a Set

In [93]:
List1=["QBIO 401","QBIO 430","QBIO 481","QBIO 481",481]
Set1=set(List1)
Set1

{481, 'QBIO 401', 'QBIO 430', 'QBIO 481'}

#### *Set operations*
Intersection

In [94]:
Set1={"QBIO 401","QBIO 481","QBIO 493"}
Set2={"QBIO 430","BISC 570","QBIO 401"}
Set3=Set1&Set2
print("Set3:",Set3)

# Union
Set4=Set1.union(Set2)
print("Set4:",Set4)

# Check subset
Set5={"QBIO 401", "QBIO 493"}
Set5.issubset(Set1)

Set3: {'QBIO 401'}
Set4: {'BISC 570', 'QBIO 481', 'QBIO 493', 'QBIO 401', 'QBIO 430'}

True

## 2. Programming fundamentals
### 2.1. Conditions
#### *Comparison operations*
Comparison operations compares particular value or operand. Based on some condition, they produce a Boolean.

In [25]:
a=8
print("8==8:",a==8)
print("8>8:",a>8)
print("8>=8:",a>=8)
print("8!=8:",a!=8)
a=6
print("6==8:",a==8)
print("6!=8:",a!=8)

8==8: True
8>8: False
8>=8: True
8!=8: False
6==8: False
6!=8: True

In [26]:
a="QBIO"
print("\"QBIO\"==\"QBIO\":",a=="QBIO")
a="BISC"
print("\"BISC\"==\"QBIO\":",a=="QBIO")
print("\"BISC\"!=\"QBIO\":",a!="QBIO")
a="qbio"
print("\"qbio\"==\"qbio\":",a=="QBIO")

"QBIO"=="QBIO": True
"BISC"=="QBIO": False
"BISC"!="QBIO": True
"qbio"=="qbio": False

### 2.2. Branchings
Branchings allow us to run different statements for a different input.
#### *If-elif-else*
"if" statement:

In [27]:
age=22

if(age>21):
    print("You can enter the party \"WINOS\"")
print ("Move on")

You can enter the party "WINOS"
Move on

In [28]:
age=20

if(age>21):
    print("You can enter the party \"WINOS\"")
print ("Move on")

Move on

"if-else" statement:

In [30]:
age=20

if(age>21):
    print("You can enter the party \"ILLEGAL WINOS\"")
else:
    print("Go see the party \"ILLEGAL WINOS\"")
print ("Move on")

Go see the party "ILLEGAL WINOS"
Move on

"if-elif-else" statement:

In [32]:
age=14

if(age>21):
    print("You can enter the party \"ILLEGAL WINOS\"")
elif(age==18):
    print("Go see the party \"ILLEGAL WINOS\"")
else:
    print("Go see the party \"NEVER TOUCHED IT\"")
print ("Move on")

Go see the party "NEVER TOUCHED IT"
Move on

#### *Logic operators*

In [35]:
a=True
print("not True:",not a)
a=False
print("not False:",not a)

not True: False
not False: True

In [38]:
birth_year=1985

if(birth_year<1980) or (birth_year>1994):
    print("Baby Boomer, Generation X, or GenZ")
else:
    print("Millennials")

Millennials

In [39]:
birth_year=1985

if(birth_year>1980) and (birth_year<1994):
    print("Millennials")

Millennials

### 2.3. Loops

#### 2.3.1. For loops

In [45]:
colors=["red","orange","yellow","green","blue","violet"]

# Way 1
for i in range(0,6):
    print(colors[i])

# Way 2
for i in range(0,len(colors)):
    print(colors[i])

# Way 3
for color in colors:
    print(color)
    
# Way 4
for i,color in enumerate(colors):
    print(i,color)

red
orange
yellow
green
blue
violet
red
orange
yellow
green
blue
violet
red
orange
yellow
green
blue
violet
0 red
1 orange
2 yellow
3 green
4 blue
5 violet

In [42]:
for i in range(0,len(colors)):
    colors[i]="while"
    
print(colors)

['while', 'while', 'while', 'while', 'while', 'while']

#### 2.3.2. While loops

In [59]:
colors=["red","orange","red","green","blue","red"]

i=0
while(i<len(colors)):
    print(colors[i])
    i=i+1
    
# Select color "red" using while loops
selected_colors=[]

i=0
while(i<len(colors)):
    if(colors[i]=="red"):
        selected_colors.append(colors[i])
    i=i+1    

print(selected_colors)

red
orange
red
green
blue
red
['red', 'red', 'red']

### 2.3. Functions

In [60]:
def add(a):
    b=a+1
    return b

c=add(6)
c

7