In [1]:
# import data set 
import pandas as pd # import pandas
restaurant_df = pd.read_csv(r"/Users/nicktidow/Downloads/Future50.csv")

restaurant_df.describe() # summary statistics

           Rank      Sales       Units  Unit_Volume
count  50.00000  50.000000   50.000000     50.00000
mean   25.50000  33.780000   34.700000   1592.60000
std    14.57738   9.596534   24.527577    994.67677
min     1.00000  20.000000    7.000000    465.00000
25%    13.25000  24.250000   16.000000    867.50000
50%    25.50000  34.500000   27.000000   1260.00000
75%    37.75000  42.000000   45.500000   2020.00000
max    50.00000  49.000000  105.000000   4300.00000

In [2]:
# Remove NAs 
restaurant_df= restaurant_df.dropna(axis=0) #remove NA rows, if axis=1 it would remove columns
restaurant_df.isnull().values.any() #check if there are any values

False

In [3]:
y= restaurant_df.Rank

In [4]:
restaurant_features = ['Sales','Units','Unit_Volume'] 
# select the features used to make the prediction
X = restaurant_df[restaurant_features] #set features equal to X

In [6]:
X.describe()

           Sales       Units  Unit_Volume
count  50.000000   50.000000     50.00000
mean   33.780000   34.700000   1592.60000
std     9.596534   24.527577    994.67677
min    20.000000    7.000000    465.00000
25%    24.250000   16.000000    867.50000
50%    34.500000   27.000000   1260.00000
75%    42.000000   45.500000   2020.00000
max    49.000000  105.000000   4300.00000

In [8]:
from sklearn.tree import DecisionTreeRegressor # import sklearn 
rest_model_sk = DecisionTreeRegressor(random_state=1)
rest_model_sk.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [14]:
print("Predictions of restaurant ranks for the last 5 restaurants in the data set:")
print(X)
print("")
print("")
print("The predictions are....")
print(rest_model_sk.predict(X))

Predictions of restaurant ranks for the last 5 restaurants in the data set:
    Sales  Units  Unit_Volume
0      24     26         1150
1      44    105          560
2      21     21         1370
3      25     46          685
4      49     50         1210
5      39     76          580
6      24     36          775
7      20     19         1260
8      24     60          465
9      29     17         1930
10     30     41          860
11     39     50         1200
12     41     63          890
13     48     48         1175
14     21     12         1930
15     24     35          780
16     44     71          700
17     37     77          535
18     22      7         3800
19     39     33         1260
20     32      8         4300
21     44     90          530
22     23     12         2230
23     47     69          760
24     37     14         2800
25     39     15         2820
26     44     37         1330
27     28     31          970
28     28     22         1375
29     27     27         1130
30     20     26          785
31     42     38         1240
32     42     44         1050
33     27      7         4260
34     22     25          985
35     22     20         1230
36     40     27         1540
37     20      7         3120
38     38     15         2755
39     29     21         1510
40     49     14         3500
41     47     97          535
42     28     11         2700
43     25     16         1620
44     38     32         1260
45     48     25         2050
46     45     35         1350
47     39     16         2630
48     31     13         2550
49     44     28         1600


The predictions are....
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.]

In [15]:
from sklearn.metrics import mean_absolute_error
# Error is actual value minus predicted value 
predicted_rank = rest_model_sk.predict(X)
mean_absolute_error(y, predicted_rank)

0.0

In [16]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# Split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
restaurant_model = DecisionTreeRegressor()
# Fit model
restaurant_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = restaurant_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

15.615384615384615

In [17]:
### Random Forest Model
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
rest_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, rest_preds))

9.574615384615385